.header {
  padding-left: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 56px;
  display: flex;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .header {
    padding: 0;
    min-height: 74px;
  }
}